In [108]:
import numpy as np
import pandas as pd
import math as mt

## One way ANOVA

### Read csv

In [109]:
df = pd.read_csv('one_way_anova.csv')
df.fillna(0, inplace = True)

In [110]:
df.head(n= 10)

     K!  K2    K3    K4
0  28.0  33  18.0  11.0
1  23.0  36  21.0  14.0
2  14.0  34  20.0  11.0
3  27.0  29  22.0  16.0
4   0.0  31  24.0   0.0
5   0.0  34   0.0   0.0

### Parameters

In [121]:
# no. of treatments
k = len(df.columns)

# no. of observations
N = np.count_nonzero(df)

# sum of all observations
total = df.values.sum()

# mean of the sample
sample_mean = total / N

# sum of values in each treatment
totals = df.sum(axis=0)

# mean of each treatment
means = []
observations = [] 
i = 0
for col in df.columns:
    x = np.count_nonzero(df[col])
    observations.append(x)
    mean = totals[i] / x
    means.append(round(mean,2))
    i = i + 1

[4, 6, 5, 4]

### Degree of Freedom

In [133]:
degree_of_freedom = {'between' : k-1, 'within' : N-k, 'total': N-1}

{'between': 3, 'within': 15, 'total': 18}

### Sum of Squares

In [134]:
ssb = 0
ssw = 0
tss = 0
x = 0
y = 0
for i in range(0,k):
    x = mt.pow((means[i] - general_mean),2)
    y = observations[i] * x
    ssb = ssb + y

    
for i in range(0,k):
    for j in range(0, observations[i]):
        element = df.values[j][i]
        x = mt.pow((element - means[i]), 2)
        ssw = ssw + x
        
        
tss = ssw + ssb 

sum_of_squares = {'between' : round(ssb,2), 'within' : round(ssw,2), 'total':round(tss,2) }

{'between': 995.53, 'within': 190.83, 'total': 1186.36}

### Mean Sum of Squares

In [136]:
mssb =  sum_of_squares['between'] / degree_of_freedom['between']
mssw = sum_of_squares['within'] / degree_of_freedom['within']

mean_sum_of_squares = {'between': round(mssb,2), 'within' : round(mssw,2)}

### F Statistic

In [161]:
f_statistic = { 'between': mean_sum_of_squares['between'] / mean_sum_of_squares['within']}

### Required DataFrame

In [168]:
table = pd.DataFrame([degree_of_freedom,sum_of_squares,mean_sum_of_squares,f_statistic], index=['DOF','SOS','MSOS','F'])
one_way_anova_table = table.transpose()
one_way_anova_table

          DOF      SOS    MSOS         F
between   3.0   995.53  331.84  26.08805
within   15.0   190.83   12.72       NaN
total    18.0  1186.36     NaN       NaN